.main {
}
.main div {
  margin: 0 auto;
}

.main .banner {
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.banner .sliderBanner {
  border: 1px solid black;
  height: 400px;
  max-width: 1900px;
}

.banner .sliderBanner .slick-dots {
  bottom: 0px;
}
.slick-dots li button:before {
  opacity: 1;
  color: white;
  font-size: 15px;
}

.slick-dots li.slick-active button:before {
  color: #df6c6c;
}
