<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sparkcw.community.dao.MemberDAO">
    
    <resultMap type="Member" id="Member">
		<result property="code" column="MEMBER_CODE" />
		<result property="id" column="MEMBER_ID" />
		<result property="pw" column="MEMBER_PW" />
		<result property="nickname" column="MEMBER_NICKNAME" />
		<result property="email" column="MEMBER_EMAIL" />
	</resultMap>
    
    <insert id="insertMember" parameterType="Member">
		INSERT INTO
				MEMBER_TB(MEMBER_ID, MEMBER_PW, MEMBER_NICKNAME, MEMBER_EMAIL)
		VALUES
				(#{id}, #{pw}, #{nickname}, #{email})
	</insert>
    
    <delete id="deleteMember">
		DELETE FROM 
				MEMBER_TB 
		WHERE
				MEMBER_CODE = #{code}
	</delete>
    
    <update id="updateMember">
		UPDATE 
				MEMBER_TB 
		SET 
				MEMBER_PW = #{pw}, MEMBER_NICKNAME = #{nickname}, 
				MEMBER_EMAIL = #{email} 
		WHERE 
				MEMBER_CODE = #{code}
	</update>
    
    <select id="selectAllMember" resultMap="Member">
		SELECT 
				* 
		FROM 
				MEMBER_TB
	</select>
    
     <select id="selectMemberId" resultType="String" parameterType="String">
		SELECT 
				MEMBER_ID 
		FROM 
				MEMBER_TB
		WHERE
				MEMBER_ID = #{id}
	</select>
    
</mapper>